body{
    background-image: url(3700c14460acfdd0c7f3d6420cf209ae.jpg);
    
}
.name,.countries-selection{
    background-color: black;
    color: white;
    margin-right: 70%;
    padding-inline-start: 40px;
    border: 10px;
    border-radius: 20px;
    border: blueviolet;
    position:;
}